<%= render 'layouts/home_hero_slides' %>
<section class="hot-job-list">
  <div class="container">
    <div class="index-job-header clearfix">
      <h2>热门岗位</h2>
      <ul>
        <li class="active"><a href="/" title="">最新发布</a></li>
        <li><a href="/">精品推荐</a></li>
        <li><a href="/" >热门排行</a></li>
      </ul>
    </div>
    <div class="job-cards">
      <div class="row">
        <% Job.first(5).each do |job| %>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="job-card-item">
              <div class="job-img">
                <a href="/" target="_blank">
                  <%= image_tag "qu.jpg", class: "img-responsive transform" %>
                </a>
              </div>
              <div class="job-card-body">
                <div class="salary">
                  <i class="fa fa-jpy"></i>
                  <span class="salary-range"><%= job.salary_min %> ~ <%= job.salary_max %></span> 元/月
                  <span><%= job.created_at.strftime("%Y-%m-%d") %></span>
                </div>
                <div class="job-name">
                  <%= link_to job.name, hot_job_path(job) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="recommend-company">
  <div class="container">
    <div class="recommend-companies-header">
      <h3><span>合作企业</span></h3>
      <div>深度合作，探索最便捷行业招聘方案</div>
    </div>
    <div class="row home-page-companies-slides">
      <% 4.times.each do |x| %>
        <div class="col-md-3 col-sm-6">
          <div class="company-card-item">
            <%= image_tag "company/company-#{x+1}.jpg", class: "company-avatar" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="unicorn-companies">
  <div class="container">
    <h3>行业名企</h3>
    <p>已更新 2,432家企业</p>
    <%= image_tag "mingqi.jpg" %>
  </div>
  <p class="what-we-do">
    <span>信息时代，淘帮忙帮您建立更好的招聘计划</span>
    <button class="join-us">我要合作</button>
  </p>
</section>

<section class="information">
  <div class="container">
    <div class="information-header">
        <h3><span>热门资讯</span></h3>
    </div>
    <div class="row">
      <% 4.times do |i| %>
        <div class="col-md-6">
          <div class="top">
            <div class="date">
              <span>30 </span>
              10 M
            </div>
            <h2>
              <i>名企优岗</i>
              <a href="/">万圣节南瓜灯与小鬼魂更配哦</a>
            </h2>
          </div>
          <div class="bottom">
            <div class="img">
              <%= image_tag "hot.jpg"%>
            </div>
            <p> 　　大王派我来巡山喽~　　今天阎王不在家，小鬼来当家，　　出去扮人要糖果好嘛好开心。　　今天阎王不在家，群魔来乱舞，　　南瓜、萝卜齐...</p>
            <a href="/">查看全部&gt;</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
